/* Estilos Globais */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("../../image/cap.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  background: linear-gradient(
    to right,
    rgba(190, 43, 43, 0.6),
    rgba(13, 206, 219, 0.6)
  );
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-container img {
  display: block;
  margin: 0 auto 20px;
  max-width: 100px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  background: linear-gradient(
    to right,
    rgba(190, 43, 43, 0.6),
    rgba(13, 206, 219, 0.6)
  );
}

.input-group i {
  color: #0c42f5;
  margin-right: 10px;
}

.input-group input {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
}
.botoes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Ajuste o valor conforme necessário */
}

.botoes button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100px; /* Defina a largura desejada */
  height: 40px; /* Defina a altura desejada */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

p a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
}

#payment-section {
  margin-top: 20px;
  text-align: center;
}

#payment-section h2 {
  margin-bottom: 15px;
  color: #000;
}

#payment-section img {
  max-width: 50%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#payment-url {
  margin-top: 10px;
  font-size: 10px;
  color: #007bff;
}
#copy-button,
#clear-qr-code {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
}

#clear-qr-code {
  background-color: #dc3545;
}

@media (max-width: 320px) {
  .register-container {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 250px;
  }

  .register-container img {
    margin: 0 auto 20px;
    max-width: 100px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .input-group {
    margin-bottom: 15px;

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
  }

  .input-group i {
    margin-right: 10px;
  }

  .input-group input {
    width: 100%;
    padding: 8px;
    font-size: 12px;
    border-radius: 5px;
  }
  .botoes {
    gap: 10px; /* Ajuste o valor conforme necessário */
  }

  .botoes button {
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    width: 80px; /* Defina a largura desejada */
    height: 30px; /* Defina a altura desejada */
  }

  button:hover {
    background-color: #0056b3;
  }

  p {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
  }

  p a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }

  p a:hover {
    text-decoration: underline;
  }

  #payment-section {
    margin-top: 10px;
    text-align: center;
  }

  #payment-section h2 {
    margin-bottom: 15px;
    color: #000;
  }

  #payment-section img {
    max-width: 50%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  #payment-url {
    margin-top: 10px;
    font-size: 10px;
    color: #007bff;
  }
  #copy-button,
  #clear-qr-code {
    margin: 10px auto;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
  }

  #clear-qr-code {
    background-color: #dc3545;
  }

  #payment-code {
    font-size: 5px;
  }
  #payment-title {
    font-size: 12px;
    color: #000;
  }
  .register-container p {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .register-container {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 250px;
  }

  .register-container img {
    margin: 0 auto 20px;
    max-width: 100px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .input-group {
    margin-bottom: 15px;

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
  }

  .input-group i {
    margin-right: 10px;
  }

  .input-group input {
    width: 100%;
    padding: 8px;
    font-size: 12px;
    border-radius: 5px;
  }
  .botoes {
    gap: 10px; /* Ajuste o valor conforme necessário */
  }

  .botoes button {
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    width: 80px; /* Defina a largura desejada */
    height: 30px; /* Defina a altura desejada */
  }

  button:hover {
    background-color: #0056b3;
  }

  p {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
  }

  p a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }

  p a:hover {
    text-decoration: underline;
  }

  #payment-section {
    margin-top: 10px;
    text-align: center;
  }

  #payment-section h2 {
    margin-bottom: 15px;
    color: #000;
  }

  #payment-section img {
    max-width: 50%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  #payment-url {
    margin-top: 10px;
    font-size: 10px;
    color: #007bff;
  }
  #copy-button,
  #clear-qr-code {
    margin: 10px auto;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
  }

  #clear-qr-code {
    background-color: #dc3545;
  }

  #payment-code {
    font-size: 5px;
  }
  #payment-title {
    font-size: 12px;
    color: #000;
  }
  .register-container p {
    font-size: 12px;
  }
}
.botoes{}