html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  background: url("../../image/cap.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.caixa-principal {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.hidden {
  display: none;
}
.visible {
  display: none;
}
.openbtn {
  display: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: linear-gradient(to right, #020c92, #c122f1);
  padding: 2px 0;
  z-index: 1000;
}

li {
  list-style: none;
  display: inline-block;
  font-size: 15px;
  margin-right: 20px;
  cursor: pointer;
}

.link-menu {
  text-decoration: none;
  color: #ffffff;
  padding: 3px 10px;
  border-radius: 8px;
  display: inline-block;
  line-height: 1.5;
  text-align: center;
}

li:hover .link-menu,
.link-menu:hover {
  color: #00f929;
  border-color: #f9004d;
}

.meu-nome {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.imagens-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
}
.imagens-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.manual-container {
  background: linear-gradient(
    to right,
    rgba(6, 62, 245, 0.938),
    rgba(8, 236, 8, 0.8)
  );
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(225, 1, 255, 0.8);
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}

.manual-container img {
  margin-bottom: 10px;
  max-width: 100%;
  max-height: 90%;
  object-fit: cover;
}
/*****************************/
/*****************************/
footer {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer h5 {
  color: #ffffff;
  font-size: 30px;
}

.social {
  display: flex;
  gap: 40px;
}

.social img {
  height: 60px;
  border-radius: 50%;
}

.social a {
  background-color: #f9004d;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.social a:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

@media (max-width: 2500px) {
  nav {
    width: 100%;
    padding: 1px 0;
    z-index: 1000;
  }
  li {
    font-size: 15px;
    margin-right: 20px;
  }

  .link-menu {
    padding: 3px 10px;
    border-radius: 8px;
    line-height: 1.5;
  }

  li {
    margin-right: 20px;
  }

  .imagens-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  .manual-container {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(225, 1, 255, 0.8);
    width: 150px;
    height: 150px;
  }

  .manual-container img {
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 90%;
  }
  /*****************************/
  /*****************************/
  footer {
    padding-top: 40px;
  }

  footer h5 {
    font-size: 25px;
  }

  .social {
    gap: 40px;
  }

  .social img {
    height: 40px;
    border-radius: 50%;
  }

  .social a {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
}

/*************************/
@media (max-width: 480px) {
  nav {
    display: none;
  }

  .hidden {
    display: none;
  }
  .visible {
    display: block;
  }

  .side-menu {
    height: 100vh;
    position: absolute;
    width: 60%;
    background: linear-gradient(to right, #020c92, #c122f1);
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 17vh;
    z-index: 1000;
    transition: right 0.5s;
  }

  .side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: color 0.3s;
  }

  .side-menu a:hover {
    color: #f1f1f1;
  }

  .side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openbtn {
    font-size: 35px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    display: none;
    transition: color 0.3s;
    border-radius: 10px;
  }
  .openbtn {
    display: block;
    background: linear-gradient(to right, #fff, #fff);
    color: #000;
  }

  .side-menu {
    left: 0;
  }
  li {
    font-size: 12px;
    margin-right: 15px;
  }

  .link-menu {
    padding: 3px 10px;
    border-radius: 8px;
    line-height: 1.5;
  }

  li {
    margin-right: 12px;
  }

  .imagens-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .manual-container {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(225, 1, 255, 0.8);
    width: 150px;
    height: 150px;
  }

  .manual-container img {
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 90%;
  }
  /*****************************/
  /*****************************/
  footer {
    display: none;
  }

  .contato {
    margin-top: 17vh;
    padding-bottom: 1px;
  }

  .social1 img {
    height: 40px;
    border-radius: 50%;
  }

  .social1 a {
    border-radius: 50%;
    height: 40px;
    width: 25px;
  }
}

/*************************/
@media (max-width: 390px) {
  nav {
    display: none;
  }

  .hidden {
    display: none;
  }
  .visible {
    display: block;
  }

  .side-menu {
    height: 100vh;
    position: absolute;
    top: 0;
    right: -250px;
    width: 60%;
    background: linear-gradient(to right, #020c92, #c122f1);
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 100px;
    z-index: 1000;
    transition: right 0.5s;
  }

  .side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: color 0.3s;
  }

  .side-menu a:hover {
    color: #f1f1f1;
  }

  .side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openbtn {
    font-size: 35px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    display: none;
    transition: color 0.3s;
    border-radius: 10px;
  }
  .openbtn {
    display: block;
    background: linear-gradient(to right, #fff, #fff);
    color: #000;
  }

  .side-menu {
    left: 0;
  }
  li {
    font-size: 12px;
    margin-right: 15px;
  }

  .link-menu {
    padding: 3px 10px;
    border-radius: 8px;
    line-height: 1.5;
  }

  li {
    margin-right: 12px;
  }

  .imagens-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }

  .manual-container {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(225, 1, 255, 0.8);
    width: 130px;
    height: 130px;
  }

  .manual-container img {
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 90%;
  }
  /*****************************/
  /*****************************/
  footer {
    display: none;
  }

  .contato {
    margin-top: 17vh;
    padding-bottom: 1px;
  }

  .social1 img {
    height: 40px;
    border-radius: 50%;
  }

  .social1 a {
    border-radius: 50%;
    height: 40px;
    width: 25px;
  }
}

/*************************/
@media (max-width: 360px) {
  nav {
    display: none;
  }

  .hidden {
    display: none;
  }
  .visible {
    display: block;
  }

  .side-menu {
    height: 100vh;
    position: absolute;
    top: 0;
    right: -250px;
    width: 60%;
    background: linear-gradient(to right, #020c92, #c122f1);
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 100px;
    z-index: 1000;
    transition: right 0.5s;
  }

  .side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: color 0.3s;
  }

  .side-menu a:hover {
    color: #f1f1f1;
  }

  .side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openbtn {
    font-size: 35px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    display: none;
    transition: color 0.3s;
    border-radius: 10px;
  }
  .openbtn {
    display: block;
    background: linear-gradient(to right, #fff, #fff);
    color: #000;
  }

  .side-menu {
    left: 0;
  }
  li {
    font-size: 12px;
    margin-right: 15px;
  }

  .link-menu {
    padding: 3px 10px;
    border-radius: 8px;
    line-height: 1.5;
  }

  li {
    margin-right: 12px;
  }

  .imagens-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }

  .manual-container {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(225, 1, 255, 0.8);
    width: 130px;
    height: 130px;
  }

  .manual-container img {
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 90%;
  }
  /*****************************/
  /*****************************/
  footer {
    display: none;
  }

  .contato {
    margin-top: 17vh;
    padding-bottom: 1px;
  }

  .social1 img {
    height: 40px;
    border-radius: 50%;
  }

  .social1 a {
    border-radius: 50%;
    height: 40px;
    width: 25px;
  }
}

/*************************/
@media (max-width: 320px) {
  nav {
    display: none;
  }

  .hidden {
    display: none;
  }
  .visible {
    display: block;
  }

  .side-menu {
    height: 80vh;
    position: absolute;
    top: 0;
    right: -250px;
    width: 60%;
    background: linear-gradient(to right, #020c92, #c122f1);
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 100px;
    z-index: 1000;
    transition: right 0.5s;
  }

  .side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: block;
    transition: color 0.3s;
  }

  .side-menu a:hover {
    color: #f1f1f1;
  }

  .side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openbtn {
    font-size: 35px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    display: none;
    transition: color 0.3s;
    border-radius: 10px;
  }
  .openbtn {
    display: block;
    background: linear-gradient(to right, #fff, #fff);
    color: #000;
  }

  .side-menu {
    left: 0;
  }
  li {
    font-size: 12px;
    margin-right: 15px;
  }

  .link-menu {
    padding: 3px 10px;
    border-radius: 8px;
    line-height: 1.5;
  }

  li {
    margin-right: 12px;
  }

  .imagens-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }

  .manual-container {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(225, 1, 255, 0.8);
    width: 100px;
    height: 100px;
  }

  .manual-container img {
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 80%;
  }
  /*****************************/
  /*****************************/
  footer {
    display: none;
  }

  .contato {
    margin-top: 17vh;
    padding-bottom: 1px;
  }

  .social1 img {
    height: 30px;
    border-radius: 50%;
  }

  .social1 a {
    border-radius: 50%;
    height: 40px;
    width: 15px;
  }
}
