body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("../../image/cap.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recuperar-container {
  background: linear-gradient(
    to right,
    rgba(190, 43, 43, 0.6),
    rgba(13, 206, 219, 0.6)
  );
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recuperar-container img {
  margin: 0 auto 20px;
  max-width: 100px;
}

.recuperar-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.recuperar-container input {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 12px;
}
.input-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  background: linear-gradient(
    to right,
    rgba(190, 43, 43, 0.6),
    rgba(13, 206, 219, 0.6)
  );
}

.input-group i {
  color: #0c42f5;
  margin-right: 10px;
}

.input-group input {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
}
.recuperar-container button {
  width: 80%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #0c76e7;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
  font-weight: bold;
}

.recuperar-container button:hover {
  background-color: #0056b3;
}

.recuperar-container p {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.recuperar-container a {
  color: #ffffff;
  text-decoration: none;
}

.recuperar-container a:hover {
  text-decoration: underline;
}

@media (max-width: 320px) {
  .recuperar-container {
    background: linear-gradient(
      to right,
      rgba(190, 43, 43, 0.6),
      rgba(13, 206, 219, 0.6)
    );
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .recuperar-container img {
    width: 100px;
  }

  .recuperar-container h2 {
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
  }

  .recuperar-container input {
    width: calc(100% - 20px);
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 12px;
  }
  .input-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background: linear-gradient(
      to right,
      rgba(190, 43, 43, 0.6),
      rgba(13, 206, 219, 0.6)
    );
  }

  .input-group i {
    color: #0c42f5;
    margin-right: 10px;
  }

  .input-group input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
    font-size: 13px;
    border-radius: 5px;
  }
  .recuperar-container button {
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #0c76e7;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    margin: 10px auto;
    display: block;
    font-weight: bold;
  }

  .recuperar-container button:hover {
    background-color: #0056b3;
  }

  .recuperar-container p {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
  }

  .recuperar-container a {
    color: #ffffff;
    text-decoration: none;
  }

  .recuperar-container a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 350px) {
  .recuperar-container {
    background: linear-gradient(
      to right,
      rgba(190, 43, 43, 0.6),
      rgba(13, 206, 219, 0.6)
    );
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 250px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .recuperar-container img {
    width: 100px;
  }

  .recuperar-container h2 {
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
  }

  .recuperar-container input {
    width: calc(100% - 20px);
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 12px;
  }
  .input-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background: linear-gradient(
      to right,
      rgba(190, 43, 43, 0.6),
      rgba(13, 206, 219, 0.6)
    );
  }

  .input-group i {
    color: #0c42f5;
    margin-right: 10px;
  }

  .input-group input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
    font-size: 13px;
    border-radius: 5px;
  }
  .recuperar-container button {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #0c76e7;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
    margin: 10px auto;
    display: block;
    font-weight: bold;
  }

  .recuperar-container button:hover {
    background-color: #0056b3;
  }

  .recuperar-container p {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
  }

  .recuperar-container a {
    color: #ffffff;
    text-decoration: none;
  }

  .recuperar-container a:hover {
    text-decoration: underline;
  }
}
.botoes{}