.manual-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.manual-container img {
  max-width: 80%;
  max-height: 60%;
  object-fit: cover;
  display: block; /* Ocultar a imagem quando o vídeo estiver ativo */
}
@media (max-width: 480px) {
  .manual-container img {
    max-width: 100%;
    max-height: 80%;
  }

  .video-container {
    background-color: black;
    width: 100%;
    height: 82%; /* Ocupará toda a altura da .manual-container */
    position: absolute;
    top: 0;
    left: 0;
  }

  .video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  .button-container {
    top: 83%;
    position: absolute;
    z-index: 1;
    gap: 20px;
  }
}

@media (max-width: 390px) {
  .manual-container img {
    max-width: 100%;
    max-height: 80%;
  }

  .video-container {
    background-color: black;
    width: 100%;
    height: 80%; /* Ocupará toda a altura da .manual-container */
    position: absolute;
    top: 0;
    left: 0;
  }

  .video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  /* Estilização dos botões */
  .button-container {
    top: 83%;
    position: absolute;
    z-index: 1;
    gap: 20px;
  }
}

@media (max-width: 360px) {
  .manual-container img {
    max-width: 100%;
    max-height: 80%;
  }

  .video-container {
    background-color: black;
    width: 100%;
    height: 82%; /* Ocupará toda a altura da .manual-container */
    position: absolute;
    top: 0;
    left: 0;
  }

  .video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  .button-container {
    top: 83%;
    position: absolute;
    z-index: 1;
    gap: 20px;
  }
}

@media (max-width: 330px) {
  .manual-container img {
    max-width: 100%;
    max-height: 80%;
  }

  .video-container {
    background-color: black;
    width: 100%;
    height: 100%; /* Ocupará toda a altura da .manual-container */
    position: absolute;
    top: 0;
    left: 0;
  }

  .video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  .button-container {
    top: 85%;
    position: absolute;
    z-index: 1;
    gap: 20px;
  }
}
